{% extends "CarnetAdressesAppBundle::layout.html.twig" %}


{% block title %}
    {{ parent() }} - Profil de {{ user.username }}
{% endblock %}


{% block menubar %}
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
            <li><a href="{{ path('carnet_app_contacts') }}">Mes contacts</a></li>
            <li><a href="{{ path('carnet_app_search') }}">Faire une recherche</a></li>
        </ul>
        {{ parent() }}
    </div>
{% endblock %}


{% block header %}
    {{ parent() }}
    <h3> Profil du membre <b>{{ user.username }}</b></h3>
    {% if user.id != app.user.id and not isContact %}
        <form method="post" action="{{ path('carnet_app_profile', {'username':user.username}) }}" class="form-inline">
            <input type="submit" value="Ajouter dans mes contacts" class="btn btn-primary">
        </form>
    {% endif %}
    {% for msg in app.session.flashbag.get('confirm') %}
        <p class="text-center text-success">{{ msg }}</p>
    {% endfor %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i>Informations sur le membre</i></h3>
                </div>
                <div class="panel-body">
                    <p class="lead text-center">
                        <b>{{ user.firstname }} {{ user.surname }}</b> <br>
                        {{ user.email }} <br>
                        {{ user.address }} <br>
                        {{ user.phonenumber }}
                        {% if user.siteweb %}
                            <br><a href="{{ user.siteweb }}" target="_blank">{{ user.siteweb }}</a>
                        {% endif %}
                    </p>
                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div>
    </div>
{% endblock %}