{% extends "CarnetAdressesAppBundle::layout.html.twig" %}


{% block title %}
    {{ parent() }} - Résultat de la recherche
{% endblock %}


{% block menubar %}
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
            <li><a href="{{ path('carnet_app_contacts') }}">Mes contacts</a></li>
            <li class="active"><a href="{{ path('carnet_app_search') }}">Faire une recherche</a></li>
        </ul>
        {{ parent() }}
    </div>
{% endblock %}


{% block header %}
    {{ parent() }}
    <h3>Résultat de la recherche</h3>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Eléments de recherche</h3>
                </div>
                <div class="panel-body">
                {% for key, value in data %}
                    <p><b>{{ key }}</b> = <i>{{ value }}</i></p>
                {% endfor %}
                </div>
            </div> <!-- panel -->
        </div> <!-- col-md-4 -->
    </div> <!-- row -->
    
    <br>
    
    {% if users is null %}
        <div class="container">
            <p class="lead bg-warning text-warning text-center">
                Veuillez saisir une requête de recherche.
            </p>
        </div>
    {% elseif users is empty %}
        <div class="container">
            <p class="lead text-center">
                Votre requête a renvoyé un résultat vide.
            </p>
        </div>
    {% endif %}
    {% for user in users %}
        <div class="row">
            <div class="col-xs-2 col-xs-offset-3">
                <a href="{{ path('carnet_app_profile', {'username':user.username}) }}">{{ user.username }}</a>
            </div>
            <div class="col-xs-2">
                {{ user.email }}
            </div>
            <div class="col-xs-2">
                {{ user.firstname }} {{ user.surname }}
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}