<div class="row">
    <div class="col-md-6 col-sm-offset-3 well">
        <legend><i>Modifier le mot de passe</i></legend>
        {{ form_start(form, {'method':'POST', 'action':path('fos_user_change_password') }) }}
            {{ form_errors(form) }}
            
            <div class="form-group">
                {{ form_errors(form.current_password) }}
                {{ form_widget(form.current_password, 
                            {'attr':{'class':'form-control input-md', 'placeholder':'Votre mot de passe actuel'} }) }}
            </div>

            <div>
                {{ form_errors(form.new.first) }}
                {{ form_widget(form.new.first, 
                            {'attr':{'class':'form-control input-md', 'placeholder':'Votre nouveau mot de passe'} }) }}
            </div>

            <div class="form-group">
                {{ form_errors(form.new.second) }}
                {{ form_widget(form.new.second, 
                                {'attr':{'class':'form-control input-md', 'placeholder':'Confirmer votre nouveau mot de passe'} }) }}
            </div>
            
            <div class="text-center">
                <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-danger" />
            </div>
        {{ form_end(form) }}
    </div>
</div>
