{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %}
    {{ parent() }} - Profil de {{ user.username }}
{% endblock %}


{% block menubar %}
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('fos_user_profile_edit') }}">Editer mon profil</a></li>
            <li><a href="{{ path('carnet_app_contacts') }}">Mes contacts</a></li>
            <li><a href="{{ path('carnet_app_search') }}">Faire une recherche</a></li>
        </ul>
        {{ parent() }}
    </div>
{% endblock %}


{% block header %}
    {{ parent() }}
    <h3> Profil du membre <b>{{ user.username }}</b></h3>
    
    {% for msg in app.session.flashbag.get('fos_user_success') %}
        <p class="text-center text-success">{{ msg|trans({}, 'FOSUserBundle') }}</p>
    {% endfor %}
{% endblock %}


{% block fos_user_content %}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
